body
{
	background-color:lightgray;
}
#outer 
{
	height:4000px;
	width:1325px;
	background-color:white;
	margin:-10px auto;
	border-radius:20px;
}
#header
{
	height:128px;
	width:100%;
}
#header1
{
	height:35px;
	width:100%;
	border-bottom:3px solid orange;
}
#header1a
{
	height:100%;
	width:50%;
	float:left;
}

#header1b
{
	height:100%;
	width:50%;
	float:left;
}
#header1b1
{
	height:100%;
	width:55%;
	float:left;
}
#header1b1 ul
{
	list-style-type:none;
	margin-top:6px;
}
#header1b1 ul li
{
	display:inline;
}
#header1b1 ul li a
{
	text-decoration:none;
	font-size:18px;
	border-right:2px solid lightgray;
	color:blue;
}
#header1b2
{
	height:100%;
	width:45%;
	float:right;
}
#header1b2 img
{
	margin:2px;
	margin-top:8px;
	
}
#header2
{
	height:60px;
	width:100%;
	background-color:red;
}
#header3
{
	height:30px;
	width:100%;
	background-color:yellow;
}